<!DOCTYPE html>
<html lang="es">
  <head>
    <% include head %>
  </head>
<!-- onLoad es un evento que se ejecuta cuando se ha cargado la etiqueta -->
<body onLoad="checkIfUserIsLoged()">
  <div >
    <h1>Conversor de Temperatura</h1>
    <div class="seccion_central">
    <div>
      <!--mostramos el nombre segun nos lo envia la bdd-->
      <p>Bienvenido, <%=temperaturas[0].name%> <input type="button" onclick="location.href='/logout';" value="Log Out" /> </p>
      <!--Si cerramos sesión se expira la cookie-->
      
    </div>
    <form action="add" method="post">
        <label>Introduzca temperatura:</label>
        <input id="convert"  name="inicial" autofocus onchange="main();" placeholder="0K" size="15" />
        <input id="estesi" type="hidden" name="estesi" value="vacio1" />
        <br /><br /><label>Temperatura convertida:</label>
        <span id="converted" name="converted"></span>
    </form>
    
   <h1>Temperatura convertidas</h1>
    <ul>
      <% for (temperatura in temperaturas) { %>
        <li><p><%=temperaturas[temperatura].inicial%> || <%=temperaturas[temperatura].final%> || <%=temperaturas[temperatura].name%> -> <a href="delete/<%=temperaturas[temperatura].id%>">Delete</a></p></li>
      <% } %>
    </ul>
  
    
    </div>
 </div>
<% include foot %>
